*, *::after, *::before {box-sizing: border-box; margin: 0; padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
:root {
    --spacing-0: 0px;
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-700: 56px;
    --spacing-900: 72px;
    --spacing-1000: 80px;
    --spacing-1200: 96px;
    --spacing-1300: 104px;
    --spacing-1600: 128px;

    --clr-grey-950: #1d2026;
    --clr-grey-500: #69707D;
    --clr-grey-300: #C3CAD9;
    --clr-grey-100: #E4E9F2;
    --clr-grey-50: #F6F8FD;
    --clr-orange-500: #FF7E1B;
    --clr-orange-300: #FFAB6A;

    --fnt-size-subtitle: 12px;
    --letter-spacing-subtitle: 1.85px;

    --fnt-size-title: 28px;
    --line-height-title: 32px;

    --fnt-size-text: 15px;
    --line-height-text: 26px;
}


img {
    display: block;
}

body {
    height: 100vh;
    font-family: "Kumbh Sans", sans-serif;
}

.container {
    width: 100%;
    max-width: 620px;
    margin-inline: auto;
}

.hero {
    display: flex;
    align-items: center;
    height: var(--spacing-900);
    padding: var(--spacing-300);
}

.btn-menu {
    width: 16px;
    height: 16px;
    margin-right: var(--spacing-200);
    cursor: pointer;
}

.logo {
    width: 140px;
    height: 20px;
}

.hero__nav {
    display: none;
}

.hero__nav--active {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #fff;
    z-index: 10;
    padding: 24px;
}

.main--active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000075;
    z-index: 2;
}

.close {
    margin-bottom: 56px;
    cursor: pointer;
    width: 14px; height: 14px;
}

.hero__nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero__nav ul li a{
    text-decoration: none;
    color: var(--clr-grey-950);
    line-height: 26px;
    font-size: 18px;
    font-weight: bold;
}

.hero-content {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--spacing-300);
}

.hero__buy-perfil {
    position: relative;
    margin-left: auto;
}

.btn-cart {
    width: 22px; height: 20px;
    cursor: pointer;
}

.btn-cart > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.perfil {
    cursor: pointer;
    border-radius: 50%;
    width: 24px; height: 24px;
}

.perfil:hover, .perfil:focus {
    outline: 2px solid var(--clr-orange-500);
}

.show-cart {
    display: none;
    border-radius: 10px;
    position: absolute;
    bottom: -300px;
    left: -275px;
    background-color: #fff;
    width: 360px; height: 256px;
    z-index: 2;
    box-shadow: 4px 0 20px var(--clr-grey-100);
}

.show-cart--show {
    display: block;
}

.show-cart__title {
    padding: 24px;
    border-bottom: 1px solid var(--clr-grey-100);
    color: var(--clr-grey-950);
    font-weight: bold;
    line-height: 26px;
    font-size: 16px;
}

.show-cart__product {
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cart-text{
    color: var(--clr-grey-500);
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    position: absolute;
    top: 55%;
    left: 30%;
}

.product {
    display: none;
    align-items: center;
    gap: 16px;
}

.product > img {
    width: 50px; height: 50px;
    display: block;
    object-fit: cover;
    border-radius: 4px;
}

.product__name {
    height: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--clr-grey-500);
    vertical-align: super;
    font-family: "Kumbh Sans", sans-serif;
}

.product-price-total {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: var(--clr-grey-950);
    vertical-align: baseline;
}

#trash {
    display: block;
    width: 14px; height: 16px;
    display: block;
    object-fit: cover;
    cursor: pointer;
}


.checkout {
    all: unset;
    border-radius: 10px;
    padding: 16px;
    color: var(--clr-grey-950);
    background-color: var(--clr-orange-500);
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
     display: none;
   }

   .sneaker {
    position: relative;
   }

.sneaker__figure {
    height: 300px;
    position: relative;
}

.sneaker__img {
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: #fff;
    width: var(--spacing-500); height: var(--spacing-500);
    padding:  var(--spacing-200);
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.arrow > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow:hover > svg > path {
    color: var(--clr-orange-500);
}

.back {
    left: 5%;
    /* transform: translateY(-50%) rotate(180deg); */
}

.next {
    right: 5%;
}

.sneaker-content {
    padding: var(--spacing-300);
}

.sneaker__subtitle {
    color: var(--clr-grey-500);
    font-weight: 700;
    font-size: var(--fnt-size-subtitle);
    letter-spacing: var(--letter-spacing-subtitle);
}

.sneaker__title {
    color: var(--clr-grey-950);
    font-size: var(--fnt-size-title);
    line-height: var(--line-height-title);
    font-weight: 700;
    margin: 16px 0;
}

.sneaker__text {
    color: var(--clr-grey-500);
    line-height: var(--line-height-text);
    font-size: var(--fnt-size-text);
}

.sneaker-prices {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 32px 0;
}

.sneaker__offer {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-200);
}

.sneaker__price {
    color: var(--clr-grey-950);
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
}

.sneaker__percentage {
    background-color: var(--clr-grey-950);
    color: #fff;
    width: 51px;
    height: 27px;
    border-radius: 6px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}

.sneaker__denied {
    color: var(--clr-grey-500);
    font-weight: bold;
    line-height: 26px;
    font-size: 16px;
    text-decoration: line-through;
}

.sneaker__add-remove {
    display: flex;
    align-items: center;
    background-color: var(--clr-grey-50);
    justify-content: space-between;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 16px;
}

.symboligy {
    object-fit: contain;
    cursor: pointer;
}

.sneaker__count {
    color: var(--clr-grey-950);
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
}

.sneaker__btn-cart {
    border-radius: 10px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-200);
    background-color: var(--clr-orange-500);
    cursor: pointer;
}

.sneaker__btn-cart {
    box-shadow: 0px 5px 20px var(--clr-orange-300);
}

.img__cart {
    object-fit: contain;
}

.img__cart > path {
    color: var(--clr-grey-950);
}

.sneaker__buy-text {
    color: var(--clr-grey-950);
    line-height: 26px;
    font-size: 16px;
    font-weight: bold;
}

.sneaker-images {
    display: none;
}

@media screen and (min-width: 768px) {
    :root {
        --fnt-size-subtitle: 13px;
        --letter-spacing-subtitle: 2px;
        --fnt-size-title: 44px;
    --line-height-title: 48px;

    }

    .hero {
        border-bottom: 1px solid var(--clr-grey-300);
        height: 100px;
    }

    .hero__nav--active {
        width: 300px;
        padding: 48px 80px;
    }

    .hero__buy-perfil {
        gap: var(--spacing-600);
    }

    .perfil {
        width: 50px; height: 50px;
    }

    .sneaker__figure {
        margin: 48px 0;
        border-radius: 15px;
        overflow: hidden;
    }

    .sneaker-content {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-300);
    }

    .sneaker-prices {
        flex-direction: column;
        justify-content: flex-start;
        gap: 8px;
        margin: 0;
    }

    .sneaker-buy {
        display: flex;
        gap: 8px;
    }

    .sneaker__add-remove {
        width: 50%;
        flex-grow: 1;
        margin-bottom: 0;
    }

    .sneaker__btn-cart {
        width: 50%;
        flex-grow: 1;
    }

    .sneaker__title {
        margin: 0;
    }

    .show-cart {
        left: -150px;
        bottom: -270px;
    }

}

@media screen and (min-width: 1024px) {
    .hero__nav {
        display: block;
        position: relative;
        margin-left: var(--spacing-400);
        height: auto;
        width: auto;
        padding: 0;
        background-color: #fff;
    }

    .hero__nav ul {
        flex-direction: row;
    }

    .hero__nav ul li a{
        text-decoration: none;
        color: var(--clr-grey-500);
        line-height: 26px;
        font-size: 15px;
        font-weight: 400;
    }

    
    .container {
        max-width: 1110px;
    }
    
    .hero {
        height: 150px;
    }

    .btn-menu {
        display: none;
        margin: 0;
    }

    .close {
        display: none;
        margin: 0;
    }
    
    .sneaker {
        margin-top: 96px;
        display: flex;
        align-items: center;
        gap: 128px;
        width: fit-content;
    }


    .sneaker-figures {
        width: 448px;
        height: auto;
    }

    .sneaker__figure {
        height: 445px;
    }

    .arrow {
        display: none;
    }

    .sneaker-content {
        width: 445px;
        gap: 32px;
    }

    .sneaker__subtitle {
        margin-bottom: -8px;
    }

    .sneaker__figure {
        margin: 0;
    }

    .sneaker-buy {
        gap: 16px;
    }

    .sneaker__add-remove {
        max-width: 157px;
    }

    .sneaker__btn-cart {
        width: auto;
    }

    .sneaker-images {
        display: flex;
        margin-top: 32px;
        gap: 32px;
        position: relative;
    }

    .image-wrapper {
        position: relative;
        width: 88px; height: 88px;
        border-radius: 10px;
        z-index: 0;
        cursor: pointer;
    }
    
        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            z-index: 0;
        }

    .image-wrapper:hover::after {
        content: " ";
        top: 0px;
        left: 0px;
        position: absolute;
        width: 88px; height: 88px;
        border-radius: 10px;
        background-color: #ffffff81; 
        z-index: 1;
    }

    .image--clicked::after {
        content: " ";
        top: 0px;
        left: 0px;
        position: absolute;
        width: 88px; height: 88px;
        border-radius: 10px;
        background-color: #ffffff81; 
        outline: 2px solid var(--clr-orange-500);
        z-index: 1;
    }

    .show-cart {
        left: -200px;
    }

    .sneaker__img {
        cursor: pointer;
    }
    .zone-carrucel {
        display: none;
        position: fixed;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .zone-carrucel .sneaker__figure {
        overflow: visible;
    }

    .zone-carrucel .sneaker__img {
        border-radius: 15px;
    }

    .zone-carrucel .arrow {
        display: block;
    }

    .zone-carrucel .back {
        left: -20px;
    }

    .zone-carrucel .next {
        right: -20px;
    }

    .zone-carrucel .close-carrucel {
        position: absolute;
        width: 20px;
        height: 20px;
        object-fit: cover;
        z-index: 2;
        top: -44px;
        right: 0;
        cursor: pointer;
    }

    .zone-carrucel .close-carrucel:hover > path {
        color: var(--clr-orange-500);
    }

}